*{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    box-sizing: border-box;

}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -1;
}
 body{
    font-family: 'Edu TAS Beginner', cursive;
font-family: 'Ubuntu', sans-serif;
background-color: rgba(0, 0, 0, 0.116);
height: 100vh;

 }
 div .left-one{
    display: flex;
    width: 40%;
    /* background-color: red; */
    height: 50px;
    align-items:center;
    justify-content: start;
    
 }
 div .left-one span[class='center']{
   width: 50%;
    
 }
 div .left-one span[class='left']{
    width: 50%;
     
  }


.welcome{
    background-color:#0C356A;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 10px;
    color: #A0E9FF;
    width: 100%;
    flex-wrap: wrap;
}

.welcome  img{
    width: 20px;
    height: 20px;
    background-color: #a0e9ffb9;
    border-radius: 1000px;
    margin-left: 20px;
   

}

.welcome .center ul{
    list-style: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
    

}
.welcome .right-one{
   
    display: flex;
    justify-content: end;
    align-items: center;
}

.welcome .right-one ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.welcome .right-one ul li{
    padding: 15px;
    height: 100%;
    display: flex;
    align-items: center;
}
.welcome .right-one ul li a{
    text-decoration: none;
    color: inherit;

}
.welcome .right-one ul  span{
    margin-right: 10px;

}

.navigation{
    height: 12%;
    width: 100%;
    background-color: #e0f4ff7a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.navigation .img img{
   
width: 110px;
height: 100px;
}
.navigation .img {
   
   display: flex;
    width: 30%;
    /* background-color: blueviolet; */
    color: #0C356A;
    height: 100%;
    align-items: center;
    /* justify-content: space-evenly; */
 }
 .navigation .img span h1 {
   
    font-size: 1.5rem;
    letter-spacing: 4px;
  }
  .navigation .img span{
   
   margin-left: 10px;
  }
  .navigation .img span p[class='title'] {
   
    font-size: 0.8rem;
  }

  .navigation .navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 20px;
  }

  .navigation .navbar ul a{
    text-decoration: none;
    color: #0C356A;
    margin: 10px;
    font-weight: 500;

  }

  .footer{
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    background-color: #1be9e957;
    justify-content: center;
    align-items: center;
    
  }

  .footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
 
    width: 100%;
    height: 100%;
  }
  .footer ul li{
    margin-left: 50px;
 
  
  }

  a{
    text-decoration: none;
  }


  div.container{
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 55vh;
    /* background-color: black; */
    display: flex;
    align-items: center;
  }

  .container .left, .container .right{
    background-color: rgba(240, 255, 255, 0.682);
    width: 50%;
    height: 100%;
    margin: 10px;
   border-radius: 15px;
   display: flex;
   justify-content: flex-start;
  
   

  }

 
  .container .left .img, .container .right .img{
    min-width: 40%;
  
   

  }

  

  .container .left .img {
    background: url('./left-img.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:contain;
  }

  
  .container .right .img{
    background: url('./right-img-2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:contain;
  }

  div[class='container'] p{
    padding: 12px;
    margin-top: 9%;
    /* text-align: justify; */
    line-height: 25px;
    
  }

  
  

 

